/*----------------------------------------
  Canvas Page
 ----------------------------------------*/

canvas {
  background: #fffff0;
}

/*----------------------------------------
  page layout
 ----------------------------------------*/

#row {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}
main {
  width: 900px;
}
aside {
  margin-left: 10px;
  flex-grow: 1;
}

#elements-control-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 3px 10px;
}
