/*----------------------------------------
  Canvas Page
 ----------------------------------------*/

canvas {
  background: #fffff0;
}

/*----------------------------------------
  page layout
 ----------------------------------------*/

#row {
  display: flex;
  justify-content: center;
}
main {
  width: 900px;
}
aside {
  margin-left: 10px;
  flex-grow: 1;
}
